:root {
  --main-color: #C2185B;
  --bg-color: #bdc1c849;
}

* {
  font-family: Poppins !important;
}

html,
body {
  margin: 0 auto;
}

.user-input {
  margin: 2em auto 0 auto;
  width: 280px;
  max-width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#result {
  width: 100%;
  text-align: center;
  font-size: 50px;
  margin-top: 10px;
}

.btn-toggle {
  margin: 0 4rem;
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
  color: var(--main-color);
  background: var(--bg-color);
}
.btn-toggle:before {
  content: "Low fps";
  left: -4rem;
}
.btn-toggle:after {
  content: "High fps";
  right: -4rem;
  opacity: 0.5;
}
.btn-toggle > .handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left 0.25s;
}
.btn-toggle.active {
  transition: background-color 0.25s;
  background-color: var(--main-color);
}
.btn-toggle.active > .handle {
  left: 1.6875rem;
  transition: left 0.25s;
}
.btn-toggle.active:before {
  opacity: 0.5;
}
.btn-toggle.active:after {
  opacity: 1;
}
.btn-toggle.btn-lg {
  margin: 0 5rem;
  padding: 0;
  position: relative;
  border: none;
  height: 2.5rem;
  width: 5rem;
  border-radius: 2.5rem;
}
.btn-toggle.btn-lg:before {
  content: "Low";
  left: -5rem;
}
.btn-toggle.btn-lg:after {
  content: "High";
  right: -5rem;
  opacity: 0.5;
}
.btn-toggle.btn-lg > .handle {
  position: absolute;
  top: 0.3125rem;
  left: 0.3125rem;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 1.875rem;
  background: #fff;
  transition: left 0.25s;
}
.btn-toggle.btn-lg.active {
  transition: background-color 0.25s;
}
.btn-toggle.btn-lg.active > .handle {
  left: 2.8125rem;
  transition: left 0.25s;
}
.btn-toggle.btn-lg.active:before {
  opacity: 0.5;
}
.btn-toggle.btn-lg.active:after {
  opacity: 1;
}

.btn-toggle.btn-lg:before,
.btn-toggle.btn-lg:after {
  line-height: 2.5rem;
  width: 5rem;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}

.fps-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fps-select .title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--main-color);
}

.res-input {
  --border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.res-input .input-focus-effect {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  margin: 10px;
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  overflow: hidden;
}
.res-input .input-focus-effect input {
  padding: 2rem 0.8rem 0.8rem;
  border: 3px solid transparent;
  display: block;
  width: 100%;
  border-radius: var(--border-radius);
  transition: border 0.25s linear;
  background-color: transparent;
  outline: none;
}
.res-input .input-focus-effect input:focus {
  border-color: var(--main-color);
}
.res-input .input-focus-effect label {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  color: #999;
  transition: 0.25s linear;
}