body {
  margin: 2em auto;
  
}
body, .copy-success {
  width: 90%;
  max-width: 800px;
}

.copy2clip-btn {
  margin: auto;
  width: 100%;
}

pre.language-html {
  margin: 1em auto;
}
.copy-success {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
.copy-success .alert {
  width: fit-content;
}