* {
  font-family: "SF Pro Display";
}
body {
  margin: 0;
}
header {
  position: sticky;
  top: 0;
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
  background-color: rgba($color: #000000, $alpha: 0.5);
  backdrop-filter: blur(5px);
  font-weight: bold;
  color: white;
}
main {
  --padding: 2rem;
  display: grid;
  @media screen and (max-width: 700px) {
    grid-template-columns: 1fr;
  }
  @media screen and (min-width: 701px) {
    grid-template-columns: 1fr 1fr;
  }
  grid-gap: 2rem;
  margin: 2rem;
  width: calc(100% - var(--padding) * 2);
  #encoded,
  #decoded {
    padding: var(--padding);
    height: 300px;
    font-size: large;
    width: calc(100% - var(--padding) * 2);
    resize: none;
    box-shadow: 2px 2px 10px -5px rgba(0,0,0,0.5);
    transition: box-shadow .4s ease-in;
    &:hover {
      box-shadow: none;
    }
  }
  .title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}
