// • • • • • • • • • • • • • • •
// •         default           •
// • • • • • • • • • • • • • • •

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:700|Noto+Sans&display=swap');

$margin-length: 4em;
$brand_font: Josefin Sans;

::-webkit-scrollbar {
  display: none;
}

#element {
  scrollbar-width: none;
}

@mixin transition($x...) {
  -webkit-transition: $x;
  -moz-transition: $x;
  -ms-transition: $x;
  -o-transition: $x;
  transition: $x;
}

@mixin headerline {
  font-family: $brand_font;
  font-size: 3em;
  font-weight: 600;
}

* {
  font-family: Noto Sans;
  margin: 0;
}

.shadow_hover {
  box-shadow: 0 2px 10px -7px black;
  @include transition(box-shadow .1s ease-out);

  &:hover {
    box-shadow: 0 2px 10px -5px black
  }
}

.responsive_1000 {
  flex-direction: column !important;

  .demo_1 {
    width: 80% !important;
    margin-bottom: $margin-length;
  }

  .demo_2 {
    width: 80% !important;
  }
}

// • • • • • • • • • • • • • • •
// •          navbar             •
// • • • • • • • • • • • • • • •

.navbar {
  .navbar-brand {
    font-family: $brand_font;
    font-weight: 600;
    font-size: 1.5em;
  }

  .nav-item {
    text-transform: uppercase;
    @include transition(transform .1s ease-out);
    cursor: pointer;
    margin: 0 .5em 0 .5em;

    &:hover {
      transform: scale(1.2);

    }
  }
}

// • • • • • • • • • • • • • • •
// •        homepage        •
// • • • • • • • • • • • • • • •

.row1 {
  position: relative;

  video {
    height: auto;
    vertical-align: middle;
    width: 100%;
  }

  .overlay-desc {
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text {
    color: white;
    text-align: center;

    .top_text {
      font-size: 5vw;
      font-family: $brand_font;
    }

    .bottom_text {
      font-size: 2vw;
      margin-top: -.5em;
    }

  }
}


.row2 {
  display: flex;
  flex-direction: column;
  padding-bottom: $margin-length;
  margin: auto;
  background-color: #289CDA;
  color: white;

  .demo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: $margin-length auto 0 auto;
    // max-width: 80%;

    .parag {
      text-align: justify;
      font-size: 1.2em;
      width: 30%;
    }

    .codepen_live {
      width: 40%;
    }
  }
}

.row_structure {
  margin: auto;
  // width: 80%;
  padding: $margin-length;

  .row_headline {
    font-size: 2em;
    font-weight: 600;
    font-family: $brand_font;
    display: flex;
    justify-content: center;
  }

  .row_content_outer {
    display: flex;
    justify-content: center;
    margin-top: .8em;

    .row_content_inner {
      font-size: 1.2em;

      .comming_soon {
        opacity: .5;
      }
    }
  }
}

.row3 {
  background-color: #B9314F;
  color: white;
}

.row4 {
  background-color: #E3D26F;
  color: #343A40;
}

.row5 {
  background-color: #D5A18E;
  color: black;
}

.row6 {
  display: flex;
  flex-direction: column;
  padding: $margin-length;

  .about_us {
    font-size: 2em;
    font-weight: 600;
    font-family: $brand_font;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1em;
  }

  .memberList {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-around;

    .member {
      display: flex;
      flex-direction: column;
      width: 20%;
      min-width: 200px;
      padding: 1.5em;
      border-radius: 1em;

      .image {
        width: 100%;
        margin: auto;
        border-radius: 50%;
        overflow: hidden;
        -webkit-box-shadow: 0px 42px 55px -46px rgba(0, 0, 0, 0.51);
        -moz-box-shadow: 0px 42px 55px -46px rgba(0, 0, 0, 0.51);
        box-shadow: 0px 42px 55px -46px rgba(0, 0, 0, 0.51);

        img {
          width: 100%;
          height: auto;

        }
      }

      .name,
      .job {
        text-align: center;
      }

      .name {
        font-weight: 600;
        font-size: 1em;
        padding-top: 1em;
      }

      .job {
        font-style: italic;
        font-size: 1em;
      }
    }
  }
}

.bottom_bar {
  width: 100%;
  background-color: #545454;
  color: white;
  text-align: center;
  padding: .5em;
  font-size: .8em;
}

// • • • • • • • • • • • • • • •
// •        begin.html        •
// • • • • • • • • • • • • • • •

@-webkit-keyframes g_b_keyframes {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes g_b_keyframes {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes g_b_keyframes {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@mixin bg_loop_move($duration) {
  background-size: 1000% 1000%;
  -webkit-animation: g_b_keyframes $duration ease infinite;
  -moz-animation: g_b_keyframes $duration ease infinite;
  animation: g_b_keyframes $duration ease infinite;
}

@mixin outer_frame {
  padding: 1em;
  background-color: rgba($color: black, $alpha: .1);
  margin: auto;
  width: 80%;
  max-width: 1200px;
  border-radius: $border_morderate;
}


$border_morderate: 8px;
$border_normal: 5px;
$bg_alpha_moderate: .2;
$bg_alpha_normal: .1;

#begin {
  background: linear-gradient(240deg, #BEB8EB, #5299D3, #0B5563, #A2BCE0, #5E5C6C);
  @include bg_loop_move(60s);

  #exportedDataFrame {
    @include outer_frame();
    margin-bottom: 2em;

    .button_action {
      button {
        margin: 0 .2em;
      }

      margin-bottom: .5em;
    }

    #exportedData {
      border-radius: $border_normal;
      color: white;
      overflow: overlay;
      max-height: 300px;
    }
  }

  input,
  button {
    outline: none;
    box-shadow: none !important;
    border: 0px solid #ccc !important;
    color: white !important;

    &::placeholder {
      color: rgba($color: white, $alpha: .6)
    }
  }

  .btn-light {
    background-color: rgba($color: black, $alpha: .5);
  }

  #user_interact_section {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1200px;
    width: 80%;

    #masterPosterContainer {
      @include outer_frame();
      margin-top: 2em;
      width: 100%;
      display: flex;
      flex-direction: row;
      input {
        background-color: rgba($color: black, $alpha: $bg_alpha_moderate)
      }
    }

    .essentials {
      display: flex;
      width: 100%;

      #title {
        margin: 1em 1em 1em 0;
      }

      #poster {
        margin: 1em 0;
      }
    }

    .episode_container {
      padding: 0 1em 0 1em;
      margin-top: 2em;
      border-radius: $border_morderate;
      background-color: rgba($color: black, $alpha: .1);

      .dropdown-item,
      .dropdown-menu {
        background-color: rgba($color: black, $alpha: 1);
        color: white;
        cursor: pointer
      }

      #typeSelectorBtn,
      #qualitySelectorBtn,
      input {
        background-color: rgba($color: black, $alpha: $bg_alpha_moderate)
      }

      .singleCapElem {
        display: flex;
        width: 100%;

        input {

          &:nth-child(1),
          &:nth-child(3) {
            margin: 0 0 1em 0;
          }

          &:nth-child(2) {
            margin: 0 1em 0 1em;
          }
        }
      }

      #sourceWarpper {
        display: flex;
        width: 100%;
        flex-direction: column;

        .input-group {
          margin-bottom: 1em;
        }
      }

      .addRemoveEpBtn {
        text-align: center;
        margin-bottom: 1em;
      }
    }
  }

  .submit_button_background {
    position: sticky;
    bottom: 0;
    form {
      padding-bottom: 2em;
      text-align: center;

      button {
        font-size: 1.2em;
        font-weight: 600;
        border-radius: $border_morderate;
        padding: .5em 2em;
        margin: 0 .5em;
      }
    }
  }

  #back_to_homepage {
    padding: .5em;
    font-size: 2em;
    font-family: $brand_font;
    cursor: pointer;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    background-image: -webkit-linear-gradient(45deg);
    color: white;
  }
}

.episode_container {
  background-color: #559EDA
}

.giai_thich {
  padding: 1em;
  background-color: rgba($color: black, $alpha: $bg_alpha_normal);
  color: white;
  border-radius: $border_morderate;
  margin-top: 2em;
}