body {
  margin: 0;
}

.input-container, .output-container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px auto 40px auto;
}

.output-container {
  display: flex;
  justify-content: center;
  padding: 0 15px;
  height: auto;
  .output {
    text-align: center;
    padding: 1em;
    border: 2px solid #cccccc;
    border-radius: 5px;
    width: 100%;
    // margin: 0 auto;
  }
}
